.header {
  background-color: #ffffff;
  border-top: 10px solid #ff0000;
  color: #414141;
  padding: 32px 20px;
  position: relative;
}

.title-container {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.logo {
  height: 70px;
  left: 10px;
  object-fit: contain;
  position: absolute;
  top: 25%;
  width: 150px;
}

.text-container {
  display: inline-block;
}

.links {
  display: flex;
  gap: 16px;
  position: absolute;
  right: 20px;
  top: 50%;
}

.links a {
  color: #414141;
  text-decoration: none;
}

.links a:hover {
  color: #ff0000;
  border-bottom: 1px solid #ff0000;

}

.title {
  font-size: 32px;
  margin: 0;
}

.subtitle {
  color: #414141;
  font-size: 17px;
  font-weight: normal;
  margin: 8px 0 0;
}