
nav {
    background-color: #ff0000;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ff0000;
}

.menu ul {
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.menu a:hover {
    border-bottom: 2px solid #ffffff;
}